<footer class="new-footer">
        <div class="footer-box">
            <div class="footer-columns">
                <div class="footer-column">
                    <h1>legal</h1>
                    <ul>
                        <li>test 1</li>
                        <li>test 1</li>
                        <li>test 1</li>
                        <li>test 1</li>
                    </ul>
                    <div class="footer-icons">
                        <ul>
                            <li>instagram</li>
                            <li>tiktok</li>
                            <li>email</li>
                        </ul>
                    </div>
                </div>
                <div class="footer-column">
                    <h1>shop</h1>
                    <ul>
                        <li>test 2</li>
                        <li>test 2</li>
                        <li>test 2</li>
                        <li>test 2</li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h1>info</h1>
                    <ul>
                        <li>test 3</li>
                        <li>test 3</li>
                        <li>test 3</li>
                        <li>test 3</li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h1>Logo</h1>
                    <p>Some description about the company or website can go here.</p>
                    <div class="footer-images">
                        <ul>
                            <li>app store</li>
                            <li>google play</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <p>© 2024 Company Name. All rights reserved.</p>
            </div>
    </footer>